.App {
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

}

#root {
    height: 100vh;
    width: 100%;
}

html, body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    display: flex;
}

.case {
    position: center;
    height: 100%;
    width: 50%;
    background-image: url("img/terrain.png");
    background-size: cover;

}

#label{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: large;

}

p {
    padding: 5px;
}

.joueur {
    position: absolute;
    padding: 32px 32px;
    border-radius: 50px;
    background-color: #f44336;

    transition-duration: 0.4s;
}

.stylee {
    position: absolute;
}

.thespan {
    color: white;
    position: relative;
}


.stylee:nth-child(1) {
    margin-left: 25%;
    margin-top: 2%;

}

.stylee:nth-child(2) {
    margin-top: 15%;
    margin-left: 10%;

}

.stylee:nth-child(3) {
    margin-top: 15%;
    margin-left: 20%;
}

.stylee:nth-child(4) {
    margin-top: 15%;
    margin-left: 30%;
}

.stylee:nth-child(5) {
    margin-top: 15%;
    margin-left: 40%;

}

.stylee:nth-child(6) {
    margin-top: 25%;
    margin-left: 15%;

}

.stylee:nth-child(7) {
    margin-top: 25%;
    margin-left: 25%;

}

.stylee:nth-child(8) {
    margin-top: 25%;
    margin-left: 35%;

}

.stylee:nth-child(9) {
    margin-top: 35%;
    margin-left: 15%;

}

.stylee:nth-child(10) {
    margin-top: 35%;
    margin-left: 25%;

}

.stylee:nth-child(11) {
    margin-top: 35%;
    margin-left: 35%;

}


.joueur:hover {
    padding: 32px 32px;
    background-color: white;
    color: black;
    border: 2px solid #ff3e3e;
}

.form {
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    padding: 30px 30px;
    border: 2px solid black;
}


