.App {
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

}

.root {
    height: 100vh;
    width: 100%;
    position: absolute;
}

html, body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    display: flex;
}

.case {
    position: center;
    height: 100%;
    width: 50%;
    background-image: url("img/terrain.png");
    background-size: cover;
}


p {
    padding: 5px;
}

.joueur {

    padding: 32px 32px;
    border-radius: 50px;
    background-color: #f44336;

    transition-duration: 0.4s;
}

.joueur:hover {
    padding: 32px 32px;
    background-color: white;
    color: black;
    border: 2px solid #ff3e3e;
}

.form {
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    padding: 30px 30px;
    border: 2px solid black;
}


